# -FrontPage-

Options None

<Limit GET POST PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName partheniou.students.acg.edu
AuthUserFile /home/parthe/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/parthe/public_html/_vti_pvt/service.grp
